
<div class="row">
  <% if logged_in? %>
  <div class="col-md-3" id="sensor-status">
    <!--
    <aside class="row">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class='micropost_form'>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    -->
    <div class="row">
      <h3>センサーステータス</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <div class="col-md-9" id="floorview">
    <div class="center" id="background">
      <!--<%= image_tag("OfficeLayout.png", id: "backgroundPNG", alt: "sample image") %>-->
      <img id="layoutPNG" alt="office layout image">
      <div id="heatmap-container-wrapper">
        <div id="heatmap-container"></div>
      </div>
      <div id="colorwheel">
        <input type="number" id="tempvalue" value="" step="0.1">
        <p>℃</p>
      </div>
    </div>
  </div>
  <% else %>
  <div class="col-md-8 col-md-offset-2"></div>
  <% end %>
</div>

<script>

  Raphael(function () {
    var size = 180;
    var vcontainer = document.getElementById("view-container");
    var fview = document.getElementById("floorview");
    var bground = document.getElementById("background");
    var cwheel = document.getElementById("colorwheel");
    var tvalue = document.getElementById("tempvalue");
    
    var offsetLeft = fview.offsetLeft + bground.offsetLeft + cwheel.offsetLeft;
    var offsetTop = vcontainer.offsetTop + fview.offsetTop + cwheel.offsetTop;

    var cp = Raphael.colorwheel(offsetLeft - size, offsetTop - size, size, 0.35, "colorwheel");
    cwheel.style.display = "none";

    cp.onchange = function (clr) {
      var temperature = Math.round(clr * 10) / 10;
      tvalue.value = temperature.toFixed(1);
    };
    cp.onchange(cp.color());
  });

  window.onload = function() {
    // create a heatmap instance
    var heatmap = h337.create({
      container: document.getElementById('heatmap-container'),
      maxOpacity: 0.5,
      radius: 80,
      blur: .90,
      // backgroundColor with alpha so you can see through it
      backgroundColor: 'rgba(255, 255, 255, 0.0)'
    });

    var heatmapContainer = document.getElementById('heatmap-container-wrapper');

    heatmapContainer.onmousemove = heatmapContainer.ontouchmove = function(e) {
      // we need preventDefault for the touchmove
      e.preventDefault();
      var x = e.layerX;
      var y = e.layerY;
      if (e.touches) {
        x = e.touches[0].pageX;
        y = e.touches[0].pageY;
      }

      heatmap.addData({ x: x, y: y, value: 0.08 });
    };

    heatmapContainer.onclick = function(e) {
      $("#colorwheel").fadeToggle(300);
    };
  };
</script>
