
<div class="row">
  <% if logged_in? %>
  <div class="col-md-3" id="sensor-status">
    <aside class="row">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <!--
      <section class='micropost_form'>
        <%= render 'shared/micropost_form' %>
      </section>
      -->
    </aside>
    <div class="row">
      <h3>センサーステータス</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <div class="col-md-9" id="floorview">
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <div class="center">
        <%= image_tag("OfficeLayout.png", id: "backgroundPNG", alt: "sample image") %>
          <div id="heatmap-container-wrapper">
            <div id="heatmap-container"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-2" id="colorbar"></div>
    </div>
  </div>
  <% else %>
  <div class="col-md-8 col-md-offset-2"></div>
  <% end %>
</div>

<script>
  Raphael(function () {
    var cp = Raphael.colorbar(0, 0, 600, "#eee", "colorbar");
  });

  window.onload = function() {
    // create a heatmap instance
    var heatmap = h337.create({
      container: document.getElementById('heatmap-container'),
      maxOpacity: 0.5,
      radius: 60,
      blur: .90,
      // backgroundColor with alpha so you can see through it
      backgroundColor: 'rgba(255, 255, 255, 0.0)'
    });

    var heatmapContainer = document.getElementById('heatmap-container-wrapper');

    heatmapContainer.onmousemove = heatmapContainer.ontouchmove = function(e) {
      // we need preventDefault for the touchmove
      e.preventDefault();
      var x = e.layerX;
      var y = e.layerY;
      if (e.touches) {
        x = e.touches[0].pageX;
        y = e.touches[0].pageY;
      }

      heatmap.addData({ x: x, y: y, value: 0.1 });
    };

    heatmapContainer.onclick = function(e) {
      var x = e.layerX;
      var y = e.layerY;
      heatmap.addData({ x: x, y: y, value: 0.5 });
    };
  };
</script>

