<footer class="footer">
	<small>
		Thermopile project 
		by <a href="http://www.azbil.com/jp/" target="_blank">azbil corporation</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>
