<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "rails pro", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "HOME", root_path %></li>
				<li><%= link_to "HELP", help_path %></li>
				<li><%= link_to "SIGN IN", '#' %></li>
			</ul>
		</nav>
	</div>
</header>
